.title
{
   font-style: italic;
   font-family: Verdana;
}

#answer{
    background-color: gainsboro;
}
.header{
  background-color :#42a1f4;
  font-family: Lobster;
  color: white;
  padding: 40px; 
  text-align: center;
}
.body{
    align-self: center;
}
.input{
    height: 100px;
    width: 400px;

}